.course-creation {
    display: grid;
    grid-template-columns: minmax(0, 0.5fr) minmax(0, 7fr) minmax(0, 0.5fr);
     grid-template-rows: repeat(6, min-content);
}
.link, .header, .custom-table, .course-container{
    grid-column: 2/3;
}
.course-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.avatar-container{
    margin-left: 40px;
    width: 380px;
    position: relative;
    justify-self: right;
}
.full-width{
    grid-column: 1/3;
}
.cover {
    object-fit: cover;
    height: 225px;
    width: 380px;
}
.img-thumbnail{
    height: 225px !important;
    width: 380px !important;
}
#avatar{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-self: right;
}
#photo-but{
    position: absolute;
    bottom:-20px;
    right: 0;
}
.custom-file-upload input[type="file"] {
    display: none;
}
.custom-file-upload {
    background-color: rgb(236, 82, 82);
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    width: 55px;
    height: 55px;
}

.fa-camera {
    color: white;
}

.edit-form{
    display: grid;
    grid-template-rows: repeat(4, min-content);
}

#course-info-but{
    justify-self: end;
    align-self: start;
}

.link {
    align-self: end;
    font-size: 1.2em;
}

.course-img {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

#course-img-box {
    grid-column: 2/3;
    align-self: center;
}

#upload-img-but{
    width: 20%;
    min-width: 150px;
    justify-self: end;
    align-self: start;
}

#upload-img-but{
    grid-column: 2/3;
}

#course-name {
    margin-bottom: 15px;
}

.table {
    grid-column: 2/3;
    grid-template-rows: 1fr auto;
}

.table-title {
    font-size: 1.2em;
    padding-bottom: 5px;
    grid-column: 2/3;
    padding-top: 20px;
}

.table-column-names {
    display: grid;
}
.courses-list, .users-list {
    overflow-y: auto;
    max-height: 200px;
}

.courses-list > div:nth-child(2n+1),
.users-list > div:nth-child(2n+1) {
    background: #f0f2f5;
}

.table-column-names {
    border-bottom: 1px solid #e5e7ea;
    font-weight: bold;
    width: calc(100% - 5px);
}

.table-column-names, .table-row {
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.8fr;
}


.input-box {
    min-height: 95px;
}

.input-box input {
    height: 43px;
    align-self: start;
}

.input-box .label {
    align-self: start;
}

.input-box .error {
    align-self: end;
}
.table-row {
    height: 65px;
}
.lessons-list > div:nth-child(2n+1) {
    background: #f0f2f5;
}
.buttons-span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3px;
    align-items: center;
}
#delete-span{
    padding: 0;
    display: grid;
    align-items: center;
}
.table-column-names, .table-row {
    display: grid;
    grid-template-columns: minmax(0, 0.5fr) minmax(0, 5fr) minmax(0, 1fr);
}
