.user-container {
    display: grid;
    grid-template-columns: minmax(0, 0.5fr) minmax(0, 7fr) minmax(0, 0.5fr);
    grid-template-rows: repeat(3, min-content);
}

.header, .user-form, .upload-img-container, .avatar, .custom-file-upload, .avatar-container {
    grid-column: 2/3;
}

.avatar {
    justify-self: center;
}

.avatar-container{
    width: 200px;
    height: 210px;
    position: relative;
    justify-self: center;
}
.cover {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.upload-img-container {
    margin-bottom: 30px;
}

.form-control {
    border: 1px solid #e5e7ea !important;
}


.form-control:focus, .form-control:hover {
    box-shadow: none !important;
    border: 1px solid #e5e7ea !important;
}

.input-box {
    min-height: 95px;
}

.dropdown-menu a {
    color: black !important;
}

.bs-ok-default:after {
    color: #ec5252;
}

.bootstrap-select .dropdown-toggle:focus, .btn:focus {
    outline: none !important;
    border: 0;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline: none !important;
    border: none !important;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    box-shadow: none !important;
    border: none !important;
}

.bootstrap-select {
    width: 400px !important;
    height: 43px !important;
    background-color: white;
    border: 1px solid #e5e7ea;
    border-radius: 5px;
    font-size: 1.1em;
    margin-top: 5px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: rgb(236, 82, 82);
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    width: 55px;
    height: 55px;
}

.fa-camera {
    color: white;
}

.user-form {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
    grid-column-gap: 30px;

}

.select-container {
    min-height: 69px;
    margin-bottom: 5px;
}

.btn-light, .btn-light:focus {
    background-color: white !important;
    border: none !important;
    outline: none;
    height: 41px !important;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline: none !important;
}
#avatar{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#photo-but{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.table-title{
    margin-top: 20px;
}
.select, #login-but{
    grid-column: 1/2;
}
#courses-table{
    margin-bottom: 25px;
}
.input-box {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;
    align-self: center;
}

.buttons-span {
    justify-content: start;
    gap: 10px;
}