.users-container{
    display: grid;
    grid-template-columns: minmax(0, 0.5fr) minmax(0, 7fr) minmax(0, 0.5fr);
    grid-template-rows: repeat(2, min-content);
}

.header, #users-table{
    grid-column: 2/3;
}
.table-column-names, .table-row {
    display: grid;
    grid-template-columns: minmax(0, 0.5fr) minmax(0, 5fr) minmax(0, 1fr);
}
.table-row {
    height: 65px;
}
.users-list > div:nth-child(2n+1) {
    background: #f0f2f5;
}
.users-list{
    max-height: 500px;
    overflow-y: auto;
}
.buttons-span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3px;
    align-items: center;
}
.table-column-names {
    border-bottom: 1px solid #e5e7ea;
    font-weight: bold;
    width: calc(100% - 5px);
}